{% extends "bootstrap/base.html" %}
{% import "macros.html" as macros %}

{% set week = {
    1: "Пн",
    2: "Вт",
    3: "Ср", 
    4: "Чт", 
    5: "Пт",
    6: "Сб"
} %}
{% set amount_classes = 11 %}
{% set max_lessons_number = 6 %}

{% block title %}База данных{% endblock %}

{% block navbar %}
<div class='navbar navbar-inverse' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle'
             data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>Получение информации</a>
            <a class='navbar-brand' href='/change.html'>Изменение информации</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class='container'>
    <div class='page-header'>
        <form method="POST">
            <select name="subject_day_week" onChange="this.form.submit()">
            {% if subject_day_week and subject_day_week > 0 and subject_day_week < 7 %}
                <option selected hidden>День недели: {{ week[subject_day_week] }}</option>
            {% else %}
                <option disabled selected hidden>День недели</option>
            {% endif %}
            {% for day in week.keys() %}
                <option value="{{ day }}">{{ week[day] }}</option>
            {% endfor %}
            </select>

            <select name="subject_lesson_num" onChange="this.form.submit()">
            {% if subject_lesson_num and subject_lesson_num > 0 and subject_lesson_num <= max_lessons_number %}
                <option disabled selected hidden>Номер урока: {{ subject_lesson_num }}</option>
            {% else %}
                <option disabled selected hidden value>Номер урока</option>
            {% endif %}
            {% for lesson in range(1, max_lessons_number+1) %}
                <option value="{{ lesson }}">{{ lesson }}</option>
            {% endfor %}
            </select>

            <select name="subject_class" onChange="this.form.submit()">
                {{ macros.if_option_selected("Класс", subject_class) }}
                {{ macros.insert_options(subject_classes) }}
            </select>

            <select name="subject_subclass" onChange="this.form.submit()">
                {{ macros.if_option_selected("Подкласс", subject_subclass) }}
                {{ macros.insert_options(subject_subclasses) }}
            </select>

            <input type="submit" name="subject_get" value="Получить">
        </form>
        <h2>Предмет:
            {% if taked_subject %}
                <i><b>{{ taked_subject }}</b></i>
            {% endif %}
        </h2>
    </div>

    <div class='page-header'>
        <form method="POST">
            <select name="teacher_lesson" onChange="this.form.submit()">
                {{ macros.if_option_selected("Урок", teacher_lesson) }}
                {{ macros.insert_options(teacher_lessons) }}
            </select>

            <select name="teacher_class" onChange="this.form.submit()">
                {{ macros.if_option_selected("Класс", teacher_class) }}
                {{ macros.insert_options(teacher_classes) }}
            </select>

            <select name="teacher_subclass" onChange="this.form.submit()">
                {{ macros.if_option_selected("Подкласс", teacher_subclass) }}
                {{ macros.insert_options(teacher_subclasses) }}
            </select>

            <input type="submit" name="teacher_get" value="Получить">
        </form>
        <h2>Учитель:
            {{ macros.insert_taked(taked_teacher) }}
        </h2>
    </div>

    <div class='page-header'>
        <form method="POST">
            <select name="cabinet_class_day_week" onChange="this.form.submit()">
                {{ macros.if_option_selected("День недели", week[cabinet_class_day_week]) }}
                {% for day in week.keys() %}
                    <option value="{{ day }}">{{ week[day] }}</option>
                {% endfor %}
            </select>

            <select name="cabinet_class_lesson_num" onChange="this.form.submit()">
                {{ macros.if_option_selected("Номер урока", cabinet_class_lesson_num) }}
                {% for lesson_num in range(1, max_lessons_number+1) %}
                    <option value="{{ lesson_num }}">{{ lesson_num }}</option>
                {% endfor %}
            </select>

            <select name="cabinet_class_class" onChange="this.form.submit()">
                {{ macros.if_option_selected("Класс", cabinet_class_class) }}
                {{ macros.insert_options(cabinet_class_classes) }}
            </select>

            <select name="cabinet_class_subclass" onChange="this.form.submit()">
                {{ macros.if_option_selected("Подкласс", cabinet_class_subclass) }}
                {{ macros.insert_options(cabinet_class_subclasses) }}
            </select>

            <input type="submit" name="cabinet_class_get" value="Получить">
        </form>
        <h2>Кабинет класса:
            {{ macros.insert_taked(taked_cabinet_class) }}
        </h2>
    </div>

    <div class='page-header'>
        <form method="POST">
            <select name="teacher_classes_first_name" onChange="this.form.submit()">
                {{ macros.if_option_selected("Фамилия учителя", teacher_classes_first_name) }}
                {{ macros.insert_options(teacher_classes_first_names) }}
            </select>

            <select name="teacher_classes_second_name" onChange="this.form.submit()">
                {{ macros.if_option_selected("Имя учителя", teacher_classes_second_name) }}
                {{ macros.insert_options(teacher_classes_second_names) }}
            </select>

            <select name="teacher_classes_third_name" onChange="this.form.submit()">
                {{ macros.if_option_selected("Отчество учителя", teacher_classes_third_name) }}
                {{ macros.insert_options(teacher_classes_third_names) }}
            </select>

            <select name="teacher_classes_subject" onChange="this.form.submit()">
                {{ macros.if_option_selected("Предмет", teacher_classes_subject) }}
                {{ macros.insert_options(teacher_classes_subjects) }}
            </select>

            <input type="submit" name="teacher_classes_get" value="Получить">
        </form>
        <h2>Преподаваемые классы:
            {{ macros.insert_taked(taked_teacher_classes) }}
        </h2>
    </div>

    <div class='page-header'>
        <form method="POST">
            <select>
            <option disabled selected hidden value>День недели</option>
            {% for day in week.keys() %}
                <option value="{{ day }}">{{ week[day] }}</option>
            {% endfor %}
            </select>

            <select>
            <option disabled selected hidden value>Класс</option>
            </select>

            <select>
            <option disabled selected hidden value>Подкласс</option>
            </select>

            <input type="submit" value="Получить">
        </form>
        <h2>Расписание класса:</h2>
    </div>

    </div>
</div>
{% endblock %}
