{% extends "bootstrap/base.html" %}

{% set week = {
    1: "Пн",
    2: "Вт",
    3: "Ср", 
    4: "Чт", 
    5: "Пт",
    6: "Сб"
} %}
{% set amount_classes = 11 %}
{% set max_lessons_number = 6 %}

{% block title %}База данных{% endblock %}

{% block navbar %}
<div class='navbar navbar-inverse' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle'
             data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>Получение информации</a>
            <a class='navbar-brand' href='/change.html'>Изменение информации</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class='container'>
    <div class='page-header'>
        <form method="POST">
            <select name="subject_day_week" onChange="this.form.submit()">
            {% if subject_day_week and subject_day_week > 0 and subject_day_week < 7 %}
                <option selected hidden>День недели: {{ week[subject_day_week] }}</option>
            {% else %}
                <option disabled selected hidden>День недели</option>
            {% endif %}
            {% for day in week.keys() %}
                <option value="{{ day }}">{{ week[day] }}</option>
            {% endfor %}
            </select>

            <select name="subject_lesson_num" onChange="this.form.submit()">
            {% if subject_lesson_num and subject_lesson_num > 0 and subject_lesson_num <= max_lessons_number %}
                <option disabled selected hidden>Номер урока: {{ subject_lesson_num }}</option>
            {% else %}
                <option disabled selected hidden value>Номер урока</option>
            {% endif %}
            {% for lesson in range(1, max_lessons_number+1) %}
                <option value="{{ lesson }}">{{ lesson }}</option>
            {% endfor %}
            </select>

            <select name="subject_class" onChange="this.form.submit()">
            {% if subject_classes %}
                {% for _class in subject_classes %}
                    <option value="{{ _class }}">{{ _class }}</option>
                {% endfor %}
            {% endif %}

            {% if subject_class %}
                <option disabled selected hidden>Класс: {{ subject_class }}</option>
            {% else %}
                <option disabled selected hidden value>Класс</option>
            {% endif %}
            </select>

            <select name="subject_subclass" onChange="this.form.submit()">
            {% if subject_subclass %}
                <option disabled selected hidden value>Подкласс: {{ subject_subclass }}</option>
            {% else %}
                <option disabled selected hidden value>Подкласс</option>
            {% endif %}

            {% if subject_subclasses %}
                {% for subclass in subject_subclasses %}
                    <option value="{{ subclass }}">{{ subclass }}</option>
                {% endfor %}
            {% endif %}
            </select>

            <input type="submit" name="subject_get" value="Получить">
        </form>
        <h2>Предмет:
            {% if taked_subject %}
            <i><b>{{ taked_subject }}</b></i>
            {% endif %}
        </h2>
    </div>

    <div class='page-header'>
        <form onsubmit="alert(123);", method="POST">
            <select>
            <option disabled selected hidden value>Урок</option>
            </select>
            <select>
            <option disabled selected hidden value>Класс</option>
            </select>
            <select>
            <option disabled selected hidden value>Подкласс</option>
            </select>
            <input type="submit" value="Получить">
        </form>
        <h2>Учитель:</h2>
    </div>

    <div class='page-header'>
        <form onsubmit="alert(123);", method="POST">
            <select>
            <option disabled selected hidden value>День недели</option>
            {% for day in week.keys() %}
                <option value="{{ day }}">{{ week[day] }}</option>
            {% endfor %}
            </select>
            <select>
            <option disabled selected hidden value>Урок</option>
            </select>
            <select>
            <option disabled selected hidden value>Класс</option>
            </select>
            <select>
            <option disabled selected hidden value>Подкласс</option>
            </select>
            <input type="submit" value="Получить">
        </form>
        <h2>Кабинет класса:</h2>
    </div>

    <div class='page-header'>
        <form onsubmit="alert(123);", method="POST">
            <select>
            <option disabled selected hidden value>Фамилия учителя</option>
            </select>
            <select>
            <option disabled selected hidden value>Имя учителя</option>
            </select>
            <select>
            <option disabled selected hidden value>Отчество учителя</option>
            </select>
            <select>
            <option disabled selected hidden value>Класс</option>
            </select>
            <select>
            <option disabled selected hidden value>Подкласс</option>
            </select>
            <input type="submit" value="Получить">
        </form>
        <h2>Преподаваемые классы:</h2>
    </div>

    <div class='page-header'>
        <form method="POST">
            <select>
            <option disabled selected hidden value>День недели</option>
            {% for day in week.keys() %}
                <option value="{{ day }}">{{ week[day] }}</option>
            {% endfor %}
            </select>
            <select>
            <option disabled selected hidden value>Класс</option>
            </select>
            <select>
            <option disabled selected hidden value>Подкласс</option>
            </select>
            <input type="submit" value="Получить">
        </form>
        <h2>Расписание класса:</h2>
    </div>

    </div>
</div>
{% endblock %}
