{% macro insert_options(options) %}
    {% if options %}
        {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro if_option_selected(text, option) %}
    {% if option %}
        <option disabled selected hidden value>{{ text }}: {{ option }}</option>
    {% else %}
        <option disabled selected hidden value>{{ text }}</option>
    {% endif %}
{% endmacro %}

{% macro insert_taked(taked_text) %}
    {% if taked_text %}
        <i><b>{{ taked_text }}</b></i>
    {% endif %}
{% endmacro %}
